* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    background-color: #0b0b0b;
}

.banner {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100vw;
    height: 100px;
    position: fixed;
    z-index: 100;
    color: white;

    background-color: rgb(30, 30, 30);
    opacity: 0.95;
}
.banner > h1 { 
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    text-align: center;
}
.banner > h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 14px;
    text-align: center;
}

.footer {
    position: relative;
    height: 80px;
    color: white;
}

.footer > h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

img {
    max-width: 100vw;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}

@media all and (min-width : 1200px){
    .grid-wrapper {
        margin: auto;
        width: 800px;
        padding-top: 130px;
        
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-auto-rows: 250px;
        
        grid-auto-flow: dense;
    }

    .grid-wrapper > div {
    }

    .grid-wrapper .wide {
        grid-column: span 2;
    }

    .grid-wrapper .very-wide {
        width: 100%;
        height: auto;
        grid-column: span 3;
    }

    .grid-wrapper .tall {
        grid-row: span 3;
    }

    .grid-wrapper > a > img {
        max-width: 100vw;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}

@media all and (max-width : 700px){

    .banner {
        height: 70px;
        padding-bottom: 10px;
        padding-top: 15px;

    }

    .banner > h1 {
        font-size: 16px;
    }

    .footer {
        height: 70px;
    }

    .footer > h2 {
        font-size: 12px;
    }
    .grid-wrapper {
        margin: auto;
        width: 85%;
        padding-top: 90px;

        display: grid;
        grid-gap: 5px;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-auto-rows: 150px;
        grid-auto-columns: 150px;
        grid-auto-flow: dense;
    }
    
    .grid-wrapper > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .grid-wrapper .wide {
        grid-column: span 2;
    }
    
    .grid-wrapper .very-wide {
        grid-column: span 2;
    }
    
    .grid-wrapper .tall {
        grid-row: span 3;
    }
    
    .grid-wrapper > a > img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
    
}
@media all and (min-width : 700px) and (max-width : 1200px){
    .grid-wrapper {
        margin: auto;
        padding-top: 110px;
        width: 80%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: 200px;
        grid-auto-columns: 200px;
        grid-auto-flow: dense;
    }

    .grid-wrapper > div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid-wrapper .wide {
        grid-column: span 2;
    }

    .grid-wrapper .very-wide {
        grid-column: span 3;
    }

    .grid-wrapper .tall {
        grid-row: span 3;
    }

    .grid-wrapper > a > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }
}
